.header {
    text-align: center;
    padding: 20px;
}

.top-left-fixed {
    position: fixed;
    /* Positions relative to the viewport */
    top: 0;
    /* Aligns to the top edge */
    left: 0;
    /* Aligns to the left edge */
    margin: 10px;
    /* Optional: Add some space from the edges */
    /* Optional styling */
    padding: 5px;
    text-decoration: none;
}

.container-b {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;

    gap: 50px;
}

main {
    width: 100%;
}

.item {
    width: 90%;
    max-width: 550px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 24px;
    padding: 28px;
    border-radius: 16px;
}

.item h3 {
    width: 100%;
    margin: 0;
    padding-bottom: 8px;

    text-align: center;
}

.item img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

.header {
    padding-bottom: 20px;
}

h1,
h2,
h3 {
    margin: 0;
}

h2 {
    margin-top: 10px;
}

p {
    margin: 0;
    line-height: 1.5;
    text-align: center;
}