nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item {
    width: 150px;
    height: 200px;
    background-color: white
}

.container {
    display: flex;
    justify-content: center;
    font-size: 15px;
}

.page-layout {
    display: flex;
    flex-direction: column;
    font-family: 'bebas neue', sans-serif;
}

header {
    position: relative;
}

.sidebar {
    height: 100%;
    width: 300px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
}

.sidebar h2 {
    text-align: center;
}

.content {
    margin-left: 300px;
    padding: 20px;
}

.sidebar p {
    padding: 10px;
    text-align: center;
}

.sidebar a {
    display: block;
    color: black;
    padding: 15px;
    text-decoration: none;
    text-align: center;
}


.links {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
}

.links a {
    margin-right: 0;
}

body {
    background-image: url('C:/Users/willi/OneDrive/Desktop/Documents/CT-Projects/Common Task/CT-Portfolio/triplet.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}