body {
    background-color: red
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item {
    width: 150px;
    height: 200px;
    background-color: white
}

.container {
    display: flex;
    justify-content: left;
    font-size: 15px;
}

.page-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}